body {
  margin: 0px;
}

canvas {
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzCHSewtbRsqAfQ3E05H69Lj8UIR6_pj-qt6nHUahvDa62RcAiurupB7Xsl5awYzV1NGE&usqp=CAU");

}

img {
  display: none;
}
